/* Add your profile image here */
.Photo {
    background-image: url(/src/img/profile.jpg);
}

/* Projects Photo */
.project1 {
    background-image: url(/src/img/tole.png);
    cursor: none;
}

.project2 {
    background-image: url(/src/img/hyab.png);
    cursor: none;
}

.project3 {
    background-image: url(/src/img/milestone.png);
    cursor: none;
}

.project4 {
    background-image: url(/src/img/bot.jpg);
    cursor: none;
}

.project5 {
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+five');
    cursor: none;
}

.project6 {
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+six');
    cursor: none;
}

/* Miscelaneous Activities photo */
.misc1 {
    background-image: url(/src/img/assetMaster.svg);
    cursor: none;
}

.misc2 {
    background-image: url(/src/img/zkt.png);
    cursor: none;
}

.misc3 {
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+three');
    cursor: none;
}